<header>
  <!-- Begin Navigation -->
  <div class="navbar-wrapper">
    <div class="navbar navbar-main" id="fixed-navbar">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 column-header">
            <div class="navbar-header">
              <!-- Brand -->
              <a href="/" class="navbar-brand">
                <h3>MyTrailBeta</h3>
                <!--<div class="css-logo"><img src="images/logo.png" class="logo" alt="MyTrailBeta">-->
              </a>
              <!-- Mobile Navigation -->
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <!-- /navbar header -->

            <!-- Main Navigation - Explained in Documentation -->
            <nav class="navbar-collapse collapse navHeaderCollapse" role="navigation">
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown dropdown-main">
                  <%= link_to "Home", root_path %>
                </li>
                <li class="dropdown dropdown-main">
                  <%= link_to "About", about_path %>
                </li>
                <!-- <li class="dropdown dropdown-main">
                  <a href="/features">Features</a>
                </li>-->
                <% if user_signed_in? %>

                <li class="dropdown dropdown-main">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Profile
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <%= link_to('Edit Profile', edit_user_registration_path) %>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                      <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
                    </li>
                  </ul>
                </li>
              <% else %>
                <li>
                  <%= link_to "Sign Up", new_user_registration_path %>
                </li>
                <li>
                  <%= link_to "Sign In", new_user_session_path %>
                </li>
                <% end %>

              </ul>
              <!-- /navbar right -->
            </nav>
            <!-- /nav -->
          </div>
        </div>
      </div>
      <!-- /container header -->
    </div>
    <!-- /navbar -->
  </div>
</header>
