<!DOCTYPE html>
<html>
  <head>
    <title>Bikebuddy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="scrollreveal">

    <!-- header -->
    <%= render 'shared/header' %>

    <!-- body -->
    <!-- Begin Boxed or Fullwidth Layout -->
    <div id="bg-boxed">
      <div class="boxed">
        <%= yield %>
      </div>
    </div>

    <!-- footer -->
    <%= render 'shared/footer' %>

  </body>
</html>
